<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505837697789-fgqqkp6gb8nedidktnia7nhps04asv91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505837697789-fgqqkp6gb8nedidktnia7nhps04asv91</string>
	<key>API_KEY</key>
	<string>AIzaSyCMKwSNDoz1MtI1JtSBhX75-Yc1bPi3vOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>505837697789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corasan.sping</string>
	<key>PROJECT_ID</key>
	<string>sping-c4689</string>
	<key>STORAGE_BUCKET</key>
	<string>sping-c4689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505837697789:ios:a5f93efe40113ca3001c94</string>
	<key>DATABASE_URL</key>
	<string>https://sping-c4689.firebaseio.com</string>
</dict>
</plist>